@import url('https://fonts.googleapis.com/css2?family=Lora&family=Aladin&family=Chakra+Petch:wght@600&family=Bungee+Inline&family=Monoton&family=Fredoka+One&family=Poiret+One&display=swap');

//BODY
body {
  box-sizing: border-box;
  color: #444;
  font-family: 'Lato', sans-serif;
  //background-color: #f7f7f7;
  //background: linear-gradient(to bottom right, #67b26f, #4ca2cd);
  //background: linear-gradient(to bottom right, #00796b, #4dd0e1);
}

//LOGO
.logo {
  font-family: 'Monoton', cursive;
  font-size: 1rem;
  text-transform: uppercase;
  color: #dcedc8 !important;

  &:hover {
    transform: translateY(-2px);
  }
}

//NAVBAR
.navbar {
  padding: 0 1rem;

  i {
    font-size: .9rem;
  }

  .navbar-nav {
    .btn, .form-control {
      border-radius: 0;
    }

    .nav-item {
      font-family: 'Poiret One', cursive;
      font-size: 1.1rem;
      padding: .8rem;
      margin: .1rem .2rem;

      .nav-link {
        color: #dcedc8;
      }

      &:hover {
        transform: translateY(-2px);
        color: white;
      }

      .dropdown-menu {
        border-radius: 0;
        display: inline-block;
        min-width: 350px;
        left: 0;
        border: none;

        table {
          //.dropdown-item {
          a {
            font-size: 1rem;
            color: #444 !important;
          }

          td {
            vertical-align: middle;
            padding: 0 1rem;
            text-align: center;

            i {
              font-size: 1.2rem;
            }
          }

          .article-produit-image {
            padding: 0;
            width: 20%;
          }

          .article-produit-nom-prix {
            font-weight: bolder;
            font-size: 1rem;

            .prix {
              font-style: italic;
              font-size: .7rem;
            }
          }

          .article-produit-quantite {
            .augmenter {
              color: #26a69a;
            }

            .diminuer {
              color: #f57c00;
            }
          }

          .article-produit-supprimer {

            color: #e53935;
          }
        }
      }
    }
  }
}

//FORMULAIRE DE SECURITY
.login-form {
  width: 100%;
  max-width: 400px;
  margin: 4rem auto;

  h2 {
    font-family: 'Bungee Inline', cursive;
    text-align: center;

    &:hover {
      color: #01579b;
      transform: translateY(-2px);
      text-shadow: 0 0.7rem 1rem teal;
    }
  }

  form {
    box-shadow: 1px 3px 9px 13px rgba(0, 0, 0, 0.06);

    h3 {
      text-align: center;
      color: #c8e6c9;
      text-transform: uppercase;
      font-size: 1rem;
      padding: 1.5rem;
      background-color: #444;
    }

    .login-form-content {
      padding: 1rem;

      input {
        border-radius: 0;
      }

      button {
        width: 100%;
        border-radius: 0;
        text-transform: uppercase;
      }

      .alert {
        border-radius: 0;
      }
    }
  }
}

//PRODUITS
.album {
  padding: 8rem 6rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;

  .card {
    box-shadow: 0 3rem 6rem 1rem rgba(0, 0, 0, 0.25);
    border-radius: 0;
    border: whitesmoke .1rem solid;

    .card__header {
      position: relative;

      .card__picture {
        position: relative;
        clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 98%);
        height: 18rem;

        .card__picture-overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          background-image: -webkit-gradient(linear, left top, right bottom, from(#7dd56f), to(#28b487));
          background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
          opacity: 0.4;
        }

        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
      }

      .heading-tertirary {
        color: #fff;
        text-transform: lowercase;
        font-weight: 300;

        span {
          position: relative;
          color: #fff8e1;
          font-family: 'Monoton', cursive;
          display: inline-block;
          width: 100%;
          padding: .8rem;
          line-height: 1;
          -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
          background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(125, 213, 111, 0.85)), to(rgba(40, 180, 135, 0.85)));
          background-image: linear-gradient(to bottom right, rgba(125, 213, 111, 0.85), rgba(40, 180, 135, 0.85));
        }

        font-size: 2.75rem;
        text-align: center;
        position: inherit;
        bottom: 1rem;
        width: 100%;
        z-index: 10;
      }
    }

    .card-body {
      padding: 0;

      .card__sub-heading {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 700;
        font-family: 'Chakra Petch', sans-serif;
        color: #424242;
      }

      .card__text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: height .4s, width .6s .3s;
        text-align: justify;
      }

      .left_emoji {
        color: #757575;
        font-size: .8rem;
        padding-left: 1.25rem;

        span {
          font-size: 1.5rem;
          margin-right: .5rem;
        }
      }
    }

    .card-footer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 1.5rem 0 0;
      width: 100%;
      padding: 1.5rem 1.25rem;
      background-color: #eeeeee;

      .btn-detail, .btn-panier {
        padding: .8rem 1rem;
        width: 100%;
        background-color: #81c784;
        margin-right: .3rem;
        color: #1d64a4;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 0.8rem;
        border-radius: 2rem;

        span {
          font-size: 1rem;
        }

        &:hover {
          background-color: #b0bec5;
          color: #0c5460;
        }
      }

      .text-prix {
        small {
          background-color: #eee;
          border-top: 1px solid #e1e1e1;
          padding: 1.25rem;
          font-size: 1.1rem;
          font-weight: 300;
          text-align: center;
          color: #424242;
          font-family: 'Aladin', cursive;
        }
      }
    }
  }
}

//PRODUIT
.container__laptop {
  margin-top: 5rem;

  .laptop {
    width: 60rem;
    margin: 0 auto;
    background: white;
    box-shadow: 0 3rem 6rem 1rem rgba(0, 0, 0, 0.25);
    position: relative;

    .laptop__price {
      position: absolute;
      top: -3rem;
      right: -3rem;
      z-index: 100;
      background: linear-gradient(to right bottom, #67b26f, #4ca2cd);
      height: 8rem;
      width: 8rem;
      border: 5px solid white;
      border-radius: 50%;
      transform: rotate(20deg);
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
      color: white;
      font-size: 1.2rem;
      font-family: "Bungee Inline", sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .laptop__back {
      font-family: 'Lora', serif;

      &:link,
      &:visited {
        position: absolute;
        top: 2rem;
        left: 2rem;
        font-size: 1.5rem;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        z-index: 1;
        border: 2px solid white;
        border-radius: 100rem;
        padding: 0 2rem;
        transition: all .3s;
        display: flex;
        align-items: center;
      }

      .emoji-left {
        font-size: 1.5rem;
        margin-right: 1rem;
      }

      &:hover,
      &:active {
        background-color: white;
        color: #555;
      }

    }

    .laptop__hero {
      position: relative;

      &::before {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(to right bottom, #67b26f, #4ca2cd);
        opacity: .4;
      }

      .laptop__img {
        width: 100%;
        display: block;
      }
    }

    .laptop__name {
      background: linear-gradient(to right, #67b26f, #4ca2cd);
      padding: 1.75rem 1rem;
      font-family: "Bungee Inline", sans-serif;
      font-weight: 400;
      font-size: 3.25rem;
      color: white;
      text-align: center;
      word-spacing: 2px;
    }

    .laptop__details {
      background-color: #eee;
      padding: 2rem 4rem;
      font-size: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1.75rem;

      .emoji-left {
        font-size: 1.2rem;
      }
    }

    .laptop__description {
      padding: 2rem 2rem;
      font-size: 1rem;
      line-height: 1.8;
      text-align: justify;
    }

    h2 {
      margin-bottom: 0;
    }

    .laptop__link {
      &:link, &:visited {
        background-color: #5aaa9d;
        color: white;
        font-size: 1.2rem;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s;
        margin-bottom: 1rem;
      }

      &:hover, &:active {
        background-color: #67b26f;
      }

      .emoji-right {
        font-size: 2rem;
        margin-left: 1rem;
      }
    }
  }
}

.laptop__source {
  padding: 0 6rem 3rem;
  color: #999;
  font-size: 1.2rem;

  a {
    &:link, &:visited {
      color: #999;
    }

    &:hover, &:active {
      color: #555;
    }
  }
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
