@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&family=Bungee+Inline&family=Monoton&family=Fredoka+One&family=Poiret+One&display=swap');

//BODY
body {
  box-sizing: border-box;
  color: #444;
  font-family: 'Lato', sans-serif;
  background-color: #f7f7f7;
}

//LOGO
.logo {
  font-family: 'Monoton', cursive;
  font-size: 1rem;
  text-transform: uppercase;
  color: #dcedc8 !important;

  &:hover {
    transform: translateY(-2px);
  }
}

//NAVBAR
.navbar {
  padding: 0 1rem;

  i {
    font-size: .9rem;
  }

  .navbar-nav {
    .btn, .form-control {
      border-radius: 0;
    }

    .nav-item {
      font-family: 'Poiret One', cursive;
      font-size: 1.1rem;
      padding: .8rem;
      margin: .1rem .2rem;

      .nav-link {
        color: #dcedc8;
      }

      &:hover {
        transform: translateY(-2px);
        color: white;
      }
    }

    .dropdown-menu {
      border-radius: 0;
      font-size: .9rem;

      .dropdown-item {
        a {
          color: #444 !important;
        }
      }
    }
  }
}

//FORMULAIRE DE SECURITY
.login-form {
  width: 100%;
  max-width: 400px;
  margin: 4rem auto;

  h2 {
    font-family: 'Bungee Inline', cursive;
    text-align: center;

    &:hover {
      color: #01579b;
      transform: translateY(-2px);
      text-shadow: 0 0.7rem 1rem teal;
    }
  }

  form {
    box-shadow: 1px 3px 9px 13px rgba(0, 0, 0, 0.06);

    h3 {
      text-align: center;
      color: #c8e6c9;
      text-transform: uppercase;
      font-size: 1rem;
      padding: 1.5rem;
      background-color: #444;
    }

    .login-form-content {
      padding: 1rem;

      input {
        border-radius: 0;
      }

      button {
        width: 100%;
        border-radius: 0;
        text-transform: uppercase;
      }

      .alert {
        border-radius: 0;
      }
    }
  }
}

//PRODUITS

.album {
  background-color: #f7f7f7;
  padding: 8rem 6rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;

  .card {
    .card__header {
      position: relative;

      .card__picture {
        position: relative;
        clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 98%);
        height: 18rem;

        .card__picture-overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          background-image: -webkit-gradient(linear, left top, right bottom, from(#7dd56f), to(#28b487));
          background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
          opacity: 0.4;
        }

        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
      }

      .heading-tertirary {
        color: #fff;
        text-transform: lowercase;
        font-weight: 300;

        span {
          position: relative;
          color: #fff8e1;
          font-family: 'Monoton', cursive;
          display: inline-block;
          width: 100%;
          padding: .8rem;
          line-height: 1;
          -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
          background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(125, 213, 111, 0.85)), to(rgba(40, 180, 135, 0.85)));
          background-image: linear-gradient(to bottom right, rgba(125, 213, 111, 0.85), rgba(40, 180, 135, 0.85));
        }

        font-size: 2.75rem;
        text-align: center;
        position: inherit;
        bottom: 1rem;
        width: 100%;
        z-index: 10;
      }
    }

    .card-body {
      padding: 0;

      .card__sub-heading {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 700;
        font-family: 'Chakra Petch', sans-serif;
        color: #424242;
      }

      .card__text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        transition: height .4s, width .6s .3s;
        text-align: justify;
      }

      .left_emoji {
        color: #757575;
        font-size: .8rem;
        padding-left: 1.25rem;

        span {
          font-size: 1.5rem;
          margin-right: .5rem;
        }
      }
    }

    .card-footer {
      margin: 1.5rem 0 0;
      width: 100%;
      padding: 1.5rem 1.25rem;
      background-color: #eeeeee;

      .btn-detail, .btn-panier {
        padding: .5rem 1rem;
        width: 100%;
        background-color: #37474f;
        margin-right: .3rem;
        color: whitesmoke;
        text-decoration: none;

        span {
          font-size: 1rem;
        }

        &:hover {
          background-color: #b0bec5;
          color: #0c5460;
        }
      }
    }
  }
}

@media (min-width: 923px) {
  .bd-placeholder-img-lg {
    font-size: 3rem;
  }
}

