@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Monoton&family=Poiret+One&display=swap');

//BODY
body {
  box-sizing: border-box;
  color: #444;
  font-family: 'Lato', sans-serif;
  background-color: #f7f7f7;
}

//LOGO
.logo {
  font-family: 'Monoton', cursive;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #dcedc8 !important;

  &:hover {
    transform: translateY(-2px);
  }
}

//NAVBAR
.navbar {
  padding: 0 1rem;

  i {
    font-size: 1.2rem;
  }

  .navbar-nav {

    .btn, .form-control {
      border-radius: 0;
    }

    .nav-item {
      font-family: 'Poiret One', cursive;
      font-size: 1.5rem;
      padding: 1rem;
      margin: .1rem .2rem;

      .nav-link {
        color: #dcedc8;
      }

      &:hover {
        transform: translateY(-2px);
        color: white;
      }
    }

    .dropdown-menu {
      border-radius: 0;
      font-size: 1.2rem;

      .dropdown-item {
        a {
          color: #444 !important;
        }
      }
    }
  }
}

//FORMULAIRE DE SECURITY
.login-form {
  width: 100%;
  max-width: 400px;
  margin: 4rem auto;

  h2 {
    font-family: 'Bungee Inline', cursive;
    text-align: center;

    &:hover {
      color: #01579b;
      transform: translateY(-2px);
      text-shadow: 0 0.7rem 1rem teal;
    }
  }

  form {
    box-shadow: 1px 3px 9px 13px rgba(0, 0, 0, 0.06);

    h3 {
      text-align: center;
      color: #c8e6c9;
      text-transform: uppercase;
      font-size: 1rem;
      padding: 1.5rem;
      background-color: #444;
    }

    .login-form-content {
      padding: 1rem;

      input {
        border-radius: 0;
      }

      button {
        width: 100%;
        border-radius: 0;
        text-transform: uppercase;
      }

      .alert {
        border-radius: 0;
      }
    }
  }
}


