@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Merriweather:wght@700&family=Monoton&family=Russo+One&display=swap');

//###>NAVBAR
.logo {
  font-family: 'Monoton', cursive;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #c8e6c9 !important;
}

.navbar {
  padding: 1rem;
  background-color: #444 !important;

  li {
    font-size: .9rem;

    &:hover {
      transform: translateY(-2px);
      text-shadow: 0 0.7rem 1rem black;
    }

    a {
      color: #f7f7f7 !important;
    }

    .dropdown-menu {
      a {
        color: #444 !important;
      }
    }
  }
}

//###<NAVBAR

.tags {
  display: block;
  width: 100%;
  height: auto;
  background-color: #fff;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

//###>LOGIN-FORM
.login-form {
  width: 100%;
  max-width: 400px;
  margin: 4rem auto;
  //###>LOGIN-FORM H2
  h2 {
    font-family: 'Bungee Inline', cursive;
    color: #4db6ac;
    text-align: center;
    margin: 3rem 0;

    &:hover {
      color: #01579b;
      transform: translateY(-2px);
      text-shadow: 0 0.7rem 1rem teal;
    }
  }


  //###>LOGIN-FORM FORM
  form {
    -webkit-box-shadow: 1px 3px 9px 13px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 1px 3px 9px 13px rgba(0, 0, 0, 0.06);
    box-shadow: 1px 3px 9px 13px rgba(0, 0, 0, 0.06);

    h3 {
      text-align: center;
      font-family: 'Merriweather', serif;
      color: #c8e6c9;
      text-transform: uppercase;
      font-size: 1rem;
      padding: 1.5rem;
      background-color: #00796b;
    }

    .login-form-content {
      padding: 1rem;

      input {
        display: inline-block;
        border-radius: 0;
      }

      button {
        display: inline-block;
        width: 100%;
        border-radius: 0;
        background-color: #4db6ac;
        color: #c8e6c9;

        &:hover {
          background-color: #4dd0e1;
        }
      }
    }
  }

  //###<LOGIN-FORM FORM
}

//###<LOGIN-FORM
